// Smartphone Ansicht

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    border: 2px solid black;
    z-index: 100;

    li {
        display: inline;

        a {
            text-decoration: none;
            color: black;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .nav-unten-links {
        display: grid;
        grid-column: 1;
        place-content: start start;
        font-size: 1rem;
    }

    .nav-unten-rechts {
        display: grid;
        grid-column: 2;
        place-content: start end;
        padding-right: 20px;
        font-size: 1rem;

        .social {
            padding: 2px;
        }
    }
}

// Desktop Ansicht

@media only screen and (min-width: 992px) {
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        border: 2px solid black;

        li {
            display: inline;

            a {
                text-decoration: none;
                color: black;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .nav-unten-links {
            display: grid;
            grid-column: 1;
            place-content: start start;
            font-size: 16pt;
        }

        .nav-unten-rechts {
            display: grid;
            grid-column: 2;
            place-content: start end;
            padding-right: 20px;
            font-size: 20pt;

            .social {
                padding: 10px;
            }
        }
    }

}